#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
*.o
*.o.*
*.ko
*.ko.*
*.mod.c
*.order
*.bak

#
# Top-level generic files
#
/Module.symvers

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
